.DS_Store
sampleinfo/.Rapp.history
scr/.Rapp.history
scr/Hooker_fem.Rws
scr/Hooker_male.Rws
scr/Hooker_move_male.Rws
scr/Hooker_move_fem.Rws
scr/samples-female.gzip
scr/samples-male.gzip
scr/samples-move_female.gzip
scr/samples-move_male.gzip
scr/fitSCR0.Rws
scr/samples-F23.gzip
scr/samples-F24.gzip
scr/samples-M23.gzip
scr/samples-M24.gzip
setup/data/jax_bbear/genes.gtf
setup/data/jax_bbear/sequences.fa
*.Rws
*.gzip
